.root {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
  width: calc(100% - 37px);
}

.commentblock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;

  button {
    margin-top: 10px;
  }
}
