.postFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
}

.filterItem {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

.activeFilter {
  --second-color: #fd8f44;
  --bg-color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  background: var(--second-color);
  color: var(--bg-color);
  padding: 4px 10px;
  border-radius: 4px;
}
