.header {
  --container-color: #1a1e21;
  --second-color: #fd8f44;
  --text-color: #172317;
  --bg-color: #fff;

  background: var(--container-color);
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    max-width: 1068px;
    margin: auto;
    width: 100%;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);

    span {
      color: var(--second-color);
    }
  }

  .buttonsContainer {
    display: flex;
    gap: 10px;
  }

  .login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
  }
  .login:hover {
    background-color: hsl(24, 98%, 58%);
  }
}

// Home

.home {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 0 2.5rem 0;
  width: 100%;
  min-width: 440px;
}

.homeText {
  color: var(--bg-color);
  text-align: center;
}

.homeTitle {
  font-size: 3.5rem;
}

.homeSubtitle {
  font-size: 1rem;
  font-weight: 400;
}
